@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  margin: auto;
  padding: 1em 0em;
  gap: 2rem;
}

.containe{
    margin-top: -10%;
    margin-bottom: 5%;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card:hover {
  zoom: 1.1;
}


.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  border: 1px solid #56CCF2;
  color: inherit;
}

.tag-brown {
  border: 1px solid #D1913C;
  color: inherit;
}

.tag-red {
  border: 1px solid #cb2d3e;
  color: inherit;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.ctrtxt{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0% 0% 0% 0%;
    height: 80vh;
  }
  
  .ctrtxt h1{
    font-size: 88px;
    font-weight: 900;
    padding: 5px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.ctrtext-sections{
  display: flex;
  padding: auto;
  width: 50%;
  justify-content: space-evenly;
}

.comm{
  padding: 1% 5%;
  border: 1px solid #56CCF2;
  color: #56CCF2;
  border-radius: 25px;
}

#tips{
  border: 1px solid #D1913C;
  color: #D1913C;
}
.txtp{
  padding: 1% 5%;
  border: 1px solid #cb2d3e;
  color: #cb2d3e;
  border-radius: 5px;
}