.bio .myStory {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 1.1vh;
    background-color: transparent;
    font-size: xx-large;
    backdrop-filter: blur(12px);
    border-radius: 1.6vw;
    padding: 1.3vw;
    padding-bottom: 1.3vw;
    color: #fff;
  }
  
  .bio .myExpertise {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 1.1vh;
    background-color: RGBA(158, 113, 89, 0);
    backdrop-filter: blur(12px);
    border-radius: 1.6vw;
    padding: 1.3vw 0vw;
    padding-bottom: 1.3vw;
    color: #fff;
  }
  
 .wrapper2{
    margin-left: auto;
    display: flex;
    flex-direction: column;
      }

  .calendly {
    background-color: transparent;
    margin-right: auto;
    margin-top: 2.3vh;
  }
 
  
  .img_vid {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  @media (max-width: 767px) {
.wrapper2{
        margin: auto;
    }
    .img_vid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
    }
    .bio .myStory {
      font-size: x-large;
    }
    .calendly {
        background-color: transparent;
        margin: auto;
        margin-top: 2.3vh;
      }
    #expert.container {
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
  }
  
  .no-format {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .no-format:hover {
    color: inherit;
    text-decoration: none;
  }